<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('static/header') %>

    <div id="usernameDiv">
        <h3 id="usernameDisplay">Username:</h3>
        <form id="formUsername">
            <input id="inputUsername" autocomplete="off"><button class="submitBTN">Submit</button>
        </form>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
</html>